*.env
WebClassifier/20220722161405_3179B2/PyTorchPageClassPredicition/artifacts/model.pt
twitter/20220523165127_E8A2B3/Tweet_classification/artifacts/model.pt
**/20221017201834_3D1751/PyTorchnerPredicition/artifacts/model.pt
